[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log

thread_cache_size=100  # from 9 to reduce threads_created RPhr of 78
net_buffer_length=32K  # from 16K to reduce # packets per hour
query_cache_size=0  # from 1M to conserve RAM because the QCtype of OFF
slow_query_log=ON  # from OFF to allow awareness and proactively correct
long_query_time=1  # from 10 seconds - if overwhelmed with entries, raise the seconds by 1
innodb_write_io_threads=64  # from 4 to expedite writing to tables on storage devices
